#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: white;
  color: #0a035a
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.main-container{
  display: flex;
  flex-direction: column;
}

.trip-card {
  border: 2px solid #0a035a;
  width: 700px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px auto;
}

.trip-card img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.title {
  font-size: 25px;
  margin: 0;
}

.bold {
  font-weight: bolder;
}

.pill-container {
  display: flex;
  gap: 8px;
}

.card-pill {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: max-content;   
}

.green-pill{
  background-color: #34a853;
}

.blue-pill {
  background-color: #1a73e8;
}

.btn-component{
  display: flex;
  justify-content: space-between;
}

.btn-delete,
.btn-fav {
  background-color: gray;
  color: #0a035a;
  width: max-content;   
  margin-top: 20px;
}